---

import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar";



interface Props {
    title: string;
    description: string;
    background: ImageMetadata;
    styles: string[];
    items: {
        itemStyle: string;
        itemPhotoUrl: string;
    }[];
}


const {title, description, background, styles, items} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Navbar/>
    </nav>
    <main>
     
      <h1>{title}</h1>
      <p>{description}</p>
      <div class="background" style={{ backgroundImage: `url(${background.src})` }}>
      </div>
      <ul>
        {items.map(item => (
          <li class={item.itemStyle}>
            <img src={item.itemPhotoUrl} alt={item.itemStyle} />
          </li>
        ))}
      </ul>
    </main>
    <Footer/>
  </body>
</html>
